* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 60px 500px;
    background-color: lightgreen; /* #518551 */
    color: black;
    filter: brightness(120%);
}


/* buttons */


.modal-btn-area {
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal-btn {
    width: 20%;
    height: 48px;
    border-radius: 10px;
    border: 0px;
    margin: 20px;
    background-color: white;
    font-size: 18px;

}

.modal-btn:hover {
    background-color: whitesmoke;
    cursor: pointer;
    
}


/* modals */

.modal-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    position:relative;
}

.modal-window {
    visibility: hidden;
    display: flex;
    border: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 45%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 0px 20px 100px 1px rgb(153 149 149);
    position:absolute;
}

#x1, #x2, #x3 {
    font-size: 25px;
    font-weight: 600;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    width: 10%;
    border: 0px;
    background-color: white;
    cursor: pointer;
    margin: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 0px 35px 35px 35px;
}

.modal-title {
    font-size: 20px;
    padding-bottom: 20px;
}


/* style when modal is open */

.modal-open {
    filter: blur(4px);
}